

.wide_button {
  width: 100%;
}

.half_button {
  width: 50%;
}

.quarter_button {
  width: 25%;
}

/*
Card interface
*/
#card_interface {
  display: none;
}


/*
Cardlist interface
*/
#cardlist_interface {
  display: none;
}


/*
Setlist interface
*/
#setlist_interface {
  display: flex;
  flex-direction: column;
}
#setlist_interface_set_name_input {
  width: 100%;
}
#setlist_interface_list {
  width: 100%;
  flex-grow: 4;
}


/*
Runset interface
*/
#runset_interface {
  display: none;
}
#runset_qa_space {

}
#runset_buttons {
  display: flex;
  flex-direction: row;
}

