body {
  overflow-x: hidden;
  overflow-y: hidden;
  margin: 0px;
}

.wide_button {
  width: 100%;
}

.half_button {
  width: 50%;
}

.quarter_button {
  width: 25%;
}

/*
Card interface
*/
#card_interface {
  display: none;
  flex-direction: column;
}
#card_interface_buttons {
  display: flex;
  flex-direction: row;
}


/*
Cardlist interface
*/
#cardlist_interface {
  display: none;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
}
#cardlist_interface_card_list {
  flex-grow: 1;
  overflow-y: scroll;
  overflow-x: hidden;
  width: 100vw;
}
#cardlist_interface_new {
  flex-shrink: 1;
}
#cardlist_interface_go_back {
  flex-shrink: 1;
}
#cardlist_interface_toggle_buttons {
  display: flex;
  flex-direction: row;
}
.card_button {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  disaply: flex;
}
.card_element {
  width: 80%;
  margin-left: 10%;
  margin-right: 10%;
  display: flex;
  flex-direction: row;
  flex-wrap: none;
  justify-content: space-between;
  margin-bottom: 1em;
/*  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;*/
}
.card_element:hover {
  background-color: cyan;
}
.card_element_q {
  flex-grow: 3;
/*  white-space: nowrap;*/
  overflow: hidden;
  width: 45%;
  text-overflow: ellipsis;
  margin-left: 3em;
  margin-right: 3em;
}
.card_element_a {
  flex-grow: 3;
/*  white-space: nowrap;*/
  overflow:hidden;
  width: 45%;
  text-overflow: ellipsis;
  margin-left: 3em;
  margin-right: 3em;
}
.card_element_delete_button {
  flex-shrink: 1;
}


/*
Setlist interface
*/
#setlist_interface {
  display: flex;
  flex-direction: column;
}
#setlist_interface_set_name_input {
  width: 100%;
}
#setlist_interface_list {
  width: 100%;
  flex-grow: 4;
}


/*
Runset interface
*/
#runset_interface {
  display: none;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
}
#runset_interface_qa_space {
  flex-grow: 3;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5em;
  text-align: center;
}
#runset_interface_buttons {
  display: flex;
  flex-direction: row;
  height: 15vh;
}

