* {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
   user-select: none;
}

body {
  width: 100vw;
  height: 100vh;
  margin: 0;
  overflow-x: hidden;
  overflow-y: hidden;
}

#root {
  width: 100vw;
  height: 100vh;
  z-index: -2;
}

.material-icons.md-32 {
  font-size: 36px;
}


/*
Tabs Menu
*/
#menu_bar {
  display: flex;
  flex-direction: row;
  width: 100%;
  position: absolute;
  margin-left: 7rem;
}
.tab {
  border-radius: 100% 100% 15px 15px;
  height: 2rem;
  width: 6rem;
  background: #D1BFFD;
  border: 2px solid #8080FF;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  margin: 1rem;
}


/*
Paper
*/
#paper_background {
  position: fixed;
  left: 0px;
  width: 100%;
  height: 100%;
  z-index: -1;
}
.red_lines {
  height: 100%;
  margin-top: -1px;
  margin-left: 6em;
  width: .2em;
  border: 1px solid red;
}
#blue_line_container {
  position: absolute;
  z-index: -1;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  margin-top: 15em;
}
.blue_line {
  box-sizing: content-box;
  height: 2em;
  margin-top: -1px;
  width: 100%;
  border-top: 1px solid blue;
}
