/*
Menu
*/
#menu {
  position: absolute;
  top: 2rem;
  left: 1rem;
}
#search_interface_login_element {
  grid-column: 2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 1rem;
}
#search_interface_login_element:hover {
  color: #6699FF;
}
#search_interface_login_element:active {
  color: #003399;
}
#login_text {
  align-self: center;
  font-weight: bold;
  margin-right: 0.5em;
}
#search_interface_logout_element {
  display: none;
  grid-column: 2;
  justify-content: center;
  flex-direction: column;
  padding: 1rem;
}
#search_interface_logout_element:hover {
  color: #6699FF;
}
#search_interface_logout_element:active {
  color: #003399;
}
#logout_text {
  align-self: center;
  font-weight: bold;
  margin-right: 0.5em;
}
#logout_button {
  text-align: center;
}
