#subject_tab_bar {
    height: 2em;
    width: 90%;
    grid-row: 1;
    grid-column-start: 2;
    grid-column-end: 4;
    margin-left: 1.4rem;
    display: flex;
    flex-direction: row;
}

#subject_tab_container {
    display: flex;
    flex-grow: 3;
}

.subject_tab {
    border: 3px solid #B1CFE7;
    background-color: #DBF1FF;
    width: fit-content;
    border-radius: 50% 50% 0px 0px;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    padding-top: 0.3rem;
    margin-top: 0.3rem;
    font-size: 1.4rem;
    font-weight: bold;
    font-family: 'Indie Flower', cursive;
    margin-right: .2rem;
    height: 2rem;
    transition: font-weight 1s;
}

.subject_tab:hover {
    text-decoration: underline;
    background-color: #BFD1FD;
}

.subject_tab:active {
    background-color: #003399;
}

.subject_tab:active {
    color: #003399;
    border: 2px solid #003399;
}